body {
    background-color: tan;
}

#image {
width: 400px;
height: 400px;
margin-left: 425px;
border-style: solid;
border-width: 20px;
border-color: silver;
max-width: 100%;
}

b {
    font-weight: 16800;
}

#Biodata {
    color: black;
    justify-self: center;
    width: 30%;
    margin-left: 425px;
}
 h3 {
     text-align: center;
 }

 form {
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .input {
     display: block;
     width: 400px;
     height: 20px;
     margin-bottom: 5px;
 }

 .feedback {
    display: block;
    width: 400px;
    height: 40px;
    margin-bottom: 5px;
    border-style: none;
}



